{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit <span class="teal-text">{{object.country}}</span></h1>
    {% else %}
        <h1>Add Coin</h1>
    {% endif %}
  <form action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  <script>
    const valueEl = document.getElementById('id_value_1');
    M.FormSelect.init(valueEl);
  </script>
{% endblock %}