{% extends 'base.html' %}
{% block content %}

  <h1>Coin Details</h1>

  <div class="row">
      <div class="col s6">
          <div class="card">
              <div class="card-content">
                  <span class="card-title">{{ coin.country }}</span>
                  <p>Coin State (if applicable): {{ coin.state }}</p>
                  <p>Coin Value: {{ coin.value }}</p>
                  <p>Year of production: {{ coin.year }}</p>
                  <p>Description: {{ coin.description|linebreaks }}</p>
              </div>
              <div class="card-action">
                  <a href="{% url 'coins_update' coin.id %}">Edit</a>
                  <a href="{% url 'coins_delete' coin.id %}">Delete</a>
              </div>
          </div>
  </div>

  <div class="col s6">
    <form action="{% url 'add_formatmaterial' coin.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ formatmaterial_form.as_p }}
        <input type="submit" class="btn" value="Add Coin Format/Material">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Coin Format</th><th>Coin Material</th></tr>
      </thead>
      <tbody>
        {% for formatmaterial in coin.formatmaterial_set.all %}
          <tr>
            <td>{{formatmaterial.get_format_display}}</td>
            <td>{{formatmaterial.get_material_display}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ coin.country }}'s Imperfections</h3>
      {% if coin.imperfections.count %}
        {% for imperfection in coin.imperfections.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ imperfection.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_imperfection' coin.id imperfection.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No imperfections!</h5>
      {% endif %}
    </div>
    
    <div class="col s6">
      <h3>Available Imperfections</h3>
      {% if imperfections.count %}
        {% for imperfection in imperfections.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
               {{ imperfection.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_imperfection' coin.id imperfection.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{coin.country}} Already Has All Imperfections Listed</h5>
      {% endif %}
    </div>

  <script>
    const formatEl = document.getElementById('id_format');
    M.FormSelect.init(formatEl);

    const materialEl = document.getElementById('id_material');
    M.FormSelect.init(materialEl);
  </script>

{% endblock %}